body {
    margin: 0;
    padding: 0;
}

.navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}


.navigation-bar li {
    display: inline;
    padding-left: 55px;
    padding-right: 5px;
    margin-bottom: 25px;
    font-weight: 100;

}


.navigation-bar li a {
    font-family: 'Poppins', sans-serif;
    color: #6b7280;
    text-decoration: none;
    position: relative;
    bottom: 30px;
    font-weight: 600;
}

img {
    width: auto;
    height: 80px;
}


h1 {
    top: 50px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #161e2e;
    font-size: 75px;
    line-height: 90px;
}


.offshore {
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: #0058ff;
}



.content {
    margin-left: 55px;

}

.content p {
    font-size: 25px;

    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;

}

.group1 p {
    margin-right: 40em;
}

li a:hover {
    color: #0058ff;
    transition-delay: 0.1s;
}


.button1 {
    background-color: #0058ff;
    color: white;


}

.button1:hover {
    background-color: white;
    color: #0058ff;
    border: 1px solid black;
}




.button2 {
    background-color: #e5edff;
    color: #0058ff;

}

.button2:hover {
    background-color: #008CBA;
    color: white;
}



.thebuttons {
    margin-left: 100px;

}




.button {
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 10px;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 23px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}



.photo {
    background-image: url("photo1.jpg");
    width: 50%;
    z-index: -1;
    left: 57em;
    position: relative;
    bottom: 37em;
    height: 700px;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat
}


@media screen and (max-width: 768px) {}
